

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.addTask {
  height: 35vh;
  background-color: rgb(89, 242, 237);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 50px;
  flex-direction: column;
}

.task {
  width: 500px;
  height: 50px;
  display: flex;
  margin: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}

.task button {
  width: auto;
  height: 20px;
  margin-left: 5px;
  text-align: center;
  background-color: rgb(200, 216, 217);
}

element.style {
  background-color: rgb(6, 27, 6);
}

